.login-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #0069d9;
}

.login-modal {
    position: absolute;
    width: 30%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px !important;
    background: #fff;
}

.linked-img {
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
}

.linked-name {
    color: #000;
    transition: all 100ms;
}

.linked-name:hover {
    color: #0069d9;
    text-decoration: none !important;
    transition: all 100ms;
}

.overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#000;
    opacity:0.0;
    z-index: 100;
    display: block;
    border-radius: 50%;
    transition: opacity 500ms;
}

.linked-img:hover > .overlay {
    opacity:0.1;
    transition: opacity 500ms;
}